{% extends "core/base.html" %}

{% block content %}

<div class="container mt-5" style="max-width: 600px;">
    <h2 class="mb-4 text-center">Make a Reservation</h2>
    <h4 class="mb-4 text-center">Available Rooms</h4>

    <p>
        From {{ room_requirements.check_in }} to {{ room_requirements.check_out }} for {{ room_requirements.group_size }}
    </p>
    {% if rooms %}
        {% for room in rooms %}
            <div class="card mb-3">
                <div class="card-body">
                    <h4>{{ room.name }}</h4>
                    <p>Capacity for {{ room.capacity }} guests</p>
                    <a href="{% url 'reservations:booking_confirm'%}?check_in={{ room_requirements.check_in }}&check_out={{ room_requirements.check_out }}&group_size={{ room_requirements.group_size }}">
                        Book This Room
                    </a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No rooms available</p>
        <p>Contact us to see what we can do for you</p>
    {% endif %}
</div>
{% endblock %}