{% extends 'core/base.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}

    <div class="container-fluid hero-section d-flex justify-content-center align-items-center">
        <div class="hero-content">
            <h1 class="display-4 fw-bold mb-3">Your Perfect Getaway in Macedonia</h1>
            <h2 class="mb-4">Relax, Unwind, and Enjoy the Tranquility of Our Garden Retreat</h2>
            <p class="fs-4">Escape to a peaceful haven where comfort meets nature. Our cozy rooms
                are designed for groups of all sizes—whether you're traveling as a
                couple, a small family, or a group of friends. Nestled among beautiful
                palm trees in a serene garden, our rooms offer the perfect space to
                relax and recharge. Let the perfect weather and tranquil surroundings
                help you leave your worries behind and embrace the peaceful rhythm of
                life.</p>
            <a href="#" class="btn btn-primary btn-lg mt-4">Book Your Stay</a>
        </div>
    </div>

{% endblock %}